<html>
	<head>
		<title>Product Specs</title>

		<link rel="stylesheet" type="text/css" href="../static/productspecs/extjs/resources/css/ext-all.css">
		<script type="text/javascript" src="../static/productspecs/extjs/ext-debug.js"></script>
		<script type="text/javascript" src="../static/productspecs/app.js"></script>
	</head>
	<body>
	</body>
</html>
<!--
{% if latest_productspec_list %}
        <ul>
        {% for productspec in latest_productspec_list %}
                <li><a href="/productspecs/{{ productspec.id }}/">{{ productspec.name }}</a></li>
        {% endfor %}
        </ul>
{% else %}
        <p>No polls are available.</p>
{% endif %}
-->
